div{
	display: block;
	float: left;
}
.test{
	height: 100px;
	width: 100%;
	background-color: black;
}
.nav-item{
	list-style: none;
	font-size: 20px;
	color: gray;
	display: block;
	float: left;	
}
.show{
	display: none;
	background-color: purple;
	font-size: 20px;
	margin: 10px auto;
	padding: 5px;
}
.show:hover{
	cursor: pointer;
}
.show:active{
	background-color: hotpink;
}



@media(min-width:768px ) {
	.test{
		background-color: red;
	}
	.nav-item{
		display: none;
		
	}
	.show{
		display: block;
	}
}
@media(min-width:992px ) {
	.test{
		background-color: green;
	}
	.nav-item{
		display: none;
		
	}
	.show{
		display: block;
	}
}

@media(min-width:1200px ) {
	.test{
		background-color: yellow;
	}
	.nav-item{
		display: block;
		
	}

}